In [12]:
import pandas as pd
import numpy as np

In [13]:
## Getting Movie data for practice
movie_data = pd.read_csv("C:/Users/Madhumita.Ganesan/Desktop/DataScience/data/movieData/movieData/movies.dat",sep = "::",names = ["MovieId","Title","Genres"],engine="python")

user_data = pd.read_csv("C:/Users/Madhumita.Ganesan/Desktop/DataScience/data/movieData/movieData/users.dat",sep = "::",names = ["UserID","Gender","Age","Occupation","Zip-code"],engine="python")
                         
rating_data = pd.read_csv("C:/Users/Madhumita.Ganesan/Desktop/DataScience/data/movieData/movieData/ratings.dat",sep = "::",names = ["UserID","MovieID","Rating","Timestamp"],engine="python")

In [14]:
movie_data.head()

   MovieId                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [15]:
# Checking if the movie ID's are Unique in the data set
print("Total Number of rows: ", movie_data.shape)
print("Total Unique movies: ",movie_data.MovieId.unique().shape)
print("Are the movies unique in the dataset",movie_data.shape[0] == movie_data.MovieId.unique().shape[0])

Total Number of rows:  (3883, 3)
Total Unique movies:  (3883,)
Are the movies unique in the dataset True

In [16]:
# Parsing / splitting the Title and the year
print("Original movie data is \n",movie_data.head(5))

movie_data['year'] = movie_data.Title.str.slice(-5,-1)
movie_data.Year = movie_data.year.astype(int)
movie_data.Title = movie_data.Title.str.slice(0,-7)

print("Formatted Movie data is \n",movie_data.head(5))

Original movie data is
    MovieId                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
Formatted Movie data is
    MovieId                        Title                        Genres  year
0        1                    Toy Story   Animation|Children's|Comedy  1995
1        2                      Jumanji  Adventure|Children's|Fantasy  1995
2        3             Grumpier Old Men                Comedy|Romance  1995
3        4            Waiting to Exhale                  Comedy|Drama  1995
4        5  Father of the Bride Part II                        Comedy  1995

c:\users\madhumita.ganesan\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

In [21]:
## Getting the identifier representation for the Genres 
movie_genres = movie_data.Genres.str.get_dummies(sep = '|')
type(movie_genres)

## Joining this datatype with the actual dataset to print the results
moviedatawithgenre = movie_data.merge(movie_genres,left_index=True,right_index=True)
moviedatawithgenre.head()

,MovieId,Title,Genres,year,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,Animation|Children's|Comedy,1995,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,Adventure|Children's|Fantasy,1995,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,Comedy|Romance,1995,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,Comedy|Drama,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II,Comedy,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
moviedatawithgenre2 = pd.concat((movie_data,movie_genres),axis=1)
moviedatawithgenre2.head()

,MovieId,Title,Genres,year,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,Animation|Children's|Comedy,1995,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,Adventure|Children's|Fantasy,1995,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,Comedy|Romance,1995,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,Comedy|Drama,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II,Comedy,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
## Delete the Genres column
del moviedatawithgenre["Genres"]
moviedatawithgenre.head()

,MovieId,Title,year,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,1995,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,1995,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,1995,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,1995,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II,1995,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

str

In [32]:
##In what decade were the most of the movies found in this dataset made?
movie_data.year = movie_data.year.astype(int)
yeardata = movie_data[["Title","year"]]

minyear = yeardata.year.min()
maxyear = yeardata.year.max()

print("Earliest year is %d  and Latest Year is %d "%(minyear,maxyear))

mindecade=np.floor_divide(minyear,10)*10
maxdecade=np.floor_divide(maxyear,10)*10

print("Earliest decade is %d  and Latest Decade is %d "%(mindecade,maxdecade))

Earliest year is 1919  and Latest Year is 2000
Earliest decade is 1910  and Latest Decade is 2000

In [34]:
all_decades = np.arange(mindecade,maxdecade+10,10)

print("All decades : %s"%(all_decades))

All decades : [1910 1920 1930 1940 1950 1960 1970 1980 1990 2000]

In [59]:
yeardata["Decade"] = pd.cut(yeardata.year,all_decades)
#yeardata.head()
moviesperdecade = yeardata.groupby("Decade").size()
moviesperdecade.sort_values(ascending=False,inplace=True)
type(moviesperdecade)
print(moviesperdecade.head(1))

Decade
(1990, 2000]    2362
dtype: int64

c:\users\madhumita.ganesan\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
#### User data calculations
user_data.head(5)

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [71]:
##Make sure that every user mapped to Age 1 has an Occupation 4 or 10, if not, remove them.
##Make sure no one that has an Occupation other than 10 is of Age either 1 or 18, otherwise remove them.
##Make sure all of the zipcodes are in a standard (5 digit) format, but keep them as string types (any idea why?)

UserMask1=np.logical_and(user_data.Age==1,np.logical_or(user_data.Occupation==4,user_data.Occupation==10))
UserMask2=np.logical_and(user_data.Age!=1,np.logical_and(user_data.Occupation!=4,user_data.Occupation!=10))

UserDataMask=np.logical_or(UserMask1,UserMask2)
UserDataFiltered = user_data[UserDataMask]

#print(UserDataFiltered)

In [77]:
myMask2 = np.logical_or(np.logical_and(UserDataFiltered.Occupation!=10,np.logical_and(UserDataFiltered.Age!=1,UserDataFiltered.Age!=18)),UserDataFiltered.Occupation==10)
userDataFinallyFiltered = UserDataFiltered[myMask2]

user_data["Zip-code"].unique()                     
userDataFinallyFiltered = userDataFinallyFiltered[userDataFinallyFiltered["Zip-code"].str.len()>=5]
userDataFinallyFiltered["Zip-code"] = userDataFinallyFiltered["Zip-code"].str.slice(0,5)

print("Before removing garbage:",user_data.shape)
print("After removing garbage:",userDataFinallyFiltered.shape)

Before removing garbage: (6040, 5)
After removing garbage: (4653, 5)

In [88]:
rating_data.columns
#rating_data.shape
rating_data['UserID'].unique().shape

(6040,)

In [89]:
filledAndCleanedUserAndRatingData = userDataFinallyFiltered.merge(rating_data,on="UserId")

KeyError: 'UserId'